html, body {
  height: 100%;
}
.full {
  height: 100%;
}
.testDiv{
margin-top: 15px;
}
.rewardDiv{
  margin-top: 25px;
}
.spellInput{
  margin: 20px 0px 10px 0px;
  width: 50%;
}
.sidePanel{
  background-color: green;
  height: 100%;
}
.wordWrong{
  background-color: red;
}
.wordRight{
  background-color: rgba(0, 255, 0, 0.2);
}
.loginPane {
  width: 65%;
  height: auto;
}

.mainDivs{
  padding-top: 5%;
}
